- if !@event.expenses.empty?
  %section#settle.shadow
    .container
      .sub-container
        %h2.dark-blue Dodo said:
        - for i in 0..@people.size-1
          - @debtor = User.find(@people[i][:attr][:id])
          - @people[i][:paid_to].each do |user_id,amount|
            - @creditor = User.find(user_id)
            %p
              %span.name.dark-blue #{@debtor.username}
              %span should pay
              %span.name.dark-blue #{@creditor.username} 
              %span $#{amount}
  %section.results.container
    %table.table.shadow#result-table
      %thead.green-gradient
        %tr
          %td People
          %td Spent
          %td Paid 
          %td Balance
      %tbody
        - for j in 0..(@users.size-1)
          - @user = @users[j]
          %tr 
            %td #{@user.username}
            %td #{@user.spent(@event.id)}
            %td #{@user.paid(@event.id)}
            %td #{@user.balance(@event.id)}
            