.page 
  = form_for(@event, :multipart => true, :html => {:method => 'put'}) do |f|

    = f.text_field :name, :value => "#{@event.name}"
    
    -# the group input is tricky
    %label#group-label Group:
    %input{:name => "event[group]",:type => 'text',:id => 'event_group'}
    -# TODO: should be automatically add with ajax
    .btn.btn-primary.btn-add-people add those people
    %br
    %br

    %table.table.table-bordered
      %thead
        %tr
          %td Expenses 
          %td How Much ($)
          %td Paid By
          %td People Include
      %tbody
        - if !@expenses.empty?
          - for i in 0..@expenses.size - 1
            - @ep = @expenses[i]
            %tr.table-row
              %td
                = text_input("#{@ep.id}",'name',"#{@ep.name}")
              %td 
                = text_input("#{@ep.id}",'cost',"#{@ep.cost}")
              %td 
                = text_input("#{@ep.id}",'user',"#{@ep.user.username}")
              %td 
                = text_input("#{@ep.id}",'participant',"#{@ep.participants_to_s}") # Hardcode all for now
        %tr.table-row.table-row-new
          %td
            = text_input("0",'name','')
          %td 
            = text_input("0",'cost','')
          %td 
            = text_input("0",'user','')
          %td 
            = text_input("0",'participant','All')

    .btn.btn-primary.btn-add-row Add a row
    %br
    %br
    .pull-left 
      .btn.btn-success.btn-save Save
    
  = render :partial => 'results',:object => @users

= render :partial => 'js'