.page
  = form_for(@event, :multipart => true, :url => "/events/#{@event.id}") do |f|

    %section#event-name-section
      .container
        %h1#event-name{:contenteditable => 'true'} #{@event.name}
        = f.text_field :name, :value => "#{@event.name}",:class => 'invisible'
    
    %section#event-section
      .container
        -# the group input is tricky
        %label#group-label
          %h2 Group:
        %input.invisible{:name => "event[group]",:type => 'text',:id => 'event_group'}
        %br
        %table.table#input-table.shadow
          %thead.black-gradient
            %tr
              %td Expenses 
              %td How Much ($)
              %td Paid By
              %td People Include
          %tbody
            - if @expenses.empty?
              %tr.table-row.table-row-new
                %td
                  = text_input("0",'name','','e.x. Tickets')
                %td 
                  = text_input("0",'cost','','e.x. 80')
                %td 
                  = text_input("0",'user','','e.x. Mike')
                %td 
                  = text_input("0",'participant','All','e.x. All')
            - else
              - for i in 0..@expenses.size - 1
                - @ep = @expenses[i]
                %tr.table-row
                  %td
                    = text_input("#{@ep.id}",'name',"#{@ep.name}",'e.x. Tickets')
                  %td 
                    = text_input("#{@ep.id}",'cost',"#{@ep.cost}",'e.x. 80')
                  %td 
                    = text_input("#{@ep.id}",'user',"#{@ep.user.username}",'e.x. Mike')
                  %td 
                    = text_input("#{@ep.id}",'participant',"#{@ep.participants_to_s}",'e.x. All')
        .btn.btn-primary.btn-add-row.pressed.dark-blue Add a row
        .pull-right.btn.btn-primary.btn-save.pressed.dark-blue Save
        
    = render :partial => 'results',:object => @users

= render :partial => 'js'