.container.relative-position
  - if current_user.nil?
    .well
      .page-header 
        %h1 
          Love like never be hurt
          %small Where is dodo?
      = render :partial => "sessions/new"

  - else
    - if me?
      %a.btn.btn-primary.btn-new-post{:href => "#{new_posts_path}"}
        %i.icon-pencil
        New post
    .page-header.timer-container
      %h1 
        <span class="timer">0</span> Days 
        %small Where is dodo?
    .timeline-container
      - @posts.each do |po|
        .post-container.row-fluid
          .left.span4
            - if po.has_photo?
              = image_tag po.photo.url(:medium), :class => "image-rounded"
              .post-date.muted #{formatted_date(po.date)}
            - else 
              .post-date.muted.alone #{formatted_date(po.date)}
          .right.span8
            %small.muted #{po.date.localtime.strftime("%a %F")}
            %p #{po.body}
          .dot
          .divider
          - if me?
            %a.btn.btn-edit-post.hide{:href => "#{edit_post_path(po)}"}
              %i.icon-edit


          

:javascript
  drawDivider();
  $('.timer').timer();

  $('.post-container').hover(function(e) {
    var target = e.currentTarget;
    $(target).find('.btn-edit-post').stop(true, true).show();
  }, function(e) {
    var target = e.currentTarget;
    $(target).find('.btn-edit-post').stop(true, true).hide();
  })
        