.posts
  .page-header.timer-container
    .wrapper
      %h1.muted
        <span class="timer">0</span> <span class="days">Days</span>
        %small Where is dodo?
  
  - if current_user.nil?
    .container{:role => "main"}
      .signin-container
        .heading
          %h1 Love like never be hurt 
        = render :partial => "sessions/new"

  - else
    .container.relative-position{:role => "main"}
      - if me?
        %a.btn.btn-primary.btn-new-post{:href => "#{new_post_path}"}
          %i.icon-pencil.icon-white
          New post
      %a.btn.btn-back-top{:href => ""} Back to top
      .timeline-container
        - @posts.each do |po|
          - @has_photo = (po.has_photo? ? "with-photo" : "no-photo")
          %div{:class => "post-container row-fluid #{@has_photo}"}
            .left.span4
              - if po.has_photo?
                .img{:class => "img-#{po.id}"}
                :css
                  .img-#{po.id} {
                    background-image:url(#{po.photo.url(:medium)});
                  }
                  @media (max-width:480px) {
                    .img-#{po.id} {
                      background-image:url(#{po.photo.url(:large)});
                    }
                  }

              .post-date
                %span <b class="day-count">#{diff_in_days(po.date)}</b> days.
                %span.muted #{time_str(po.date)}
            .right.span8
              .wrapper
                %small.muted #{po.date.localtime.strftime("%a %F")}
                %p #{po.body}
            - @color = Post.emotions_map[po.emotion]
            .dot{:style => "border-color: #{@color}", :"data-toggle" => "tooltip", :title => "#{po.emotion}"}
            .divider
            - if me?
              %a.btn.btn-edit-post.hide{:href => "#{edit_post_path(po)}"}
                %i.icon-edit

:javascript
  drawDivider();
  $('.timer').timer();

  $('.post-container').hover(function(e) {
    var target = e.currentTarget;
    $(target).find('.btn-edit-post').stop(true, true).show();
  }, function(e) {
    var target = e.currentTarget;
    $(target).find('.btn-edit-post').stop(true, true).hide();
  })

  $('.dot').tooltip({
    position: 'right'
  });

  $('.left .img').each(function() {
    $(this).height($(this).width());
  })

  scrollSpy();
        